*{
    margin: 0;
    padding: 0;
    font-family: 'Hurricane', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Red Hat Mono', monospace;
    background-color: aqua;
  }
  .header .container{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

}
